.engines_container{
    display: flex; 
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

.engines_container .image_engine_container{
    position: relative;
}

.engines_container .image_engine_container img{
    width: 900px;
    height: 570px;
}

.engines_container .image_engine_container .engine_1_power{
    position: absolute;
    bottom: 130px;
    left: 415px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.engines_container .image_engine_container .engine_2_power{
    position: absolute;
    bottom: 170px;
    left: 538px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.engines_container .image_engine_container .engine_3_power{
    position: absolute;
    bottom: 210px;
    left: 655px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.engines_container .image_engine_container .engines_power{
    position: absolute;
    top: 105px;
    right: 70px;
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

.engines_container .side_nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E90FF;
    overflow-x: hidden;
    padding-top: 60px;
}

.engines_container .side_nav .links{
    margin-top: 50px;
}
  
.engines_container .side_nav .links a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.engines_container .side_nav .links a:hover {
    background-color: #FFFFFF;
    color: #111;
}
  
.engines_container .side_nav .close_button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #FFFFFF;
    cursor: pointer;
}

.engines_container .side_nav .close_button:hover {
    color: #111;
}

.engines_container .menu_button{
    position: absolute;
    top: 8px;
    right: 5px; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    background-color: #1E90FF;
    color: #FFF;
    font-weight: bold;
}

@media screen and (max-height: 800px) {

    .engines_container .side_nav {padding-top: 15px;}
    .engines_container .side_nav a {font-size: 18px;}

}