.container_login{
    margin: 150px auto;
    width: 100%;
    max-width: 250px;
}

.container_login form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_login h1{
    color:#1E90FF;
    font-weight: 100;
    margin-bottom: 15px;
}

.container_login form .input_field {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
  margin-bottom: 25px;
}

.container_login form .input_field label {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  transition: 0.2s all;
  cursor: text;
}

.container_login form .input_field input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #FFF;
  box-shadow: none;
  color: #FFFFFF;
  background-color: #312D2D;
}

.container_login form .input_field input:invalid {
  outline: 0;
}

.container_login form .input_field input:focus,
.container_login form .input-field input:valid {
  border-color:#1E90FF;
}

.container_login form .input_field input:focus~label,
.container_login form .input_field input:valid~label {
  font-size: 14px;
  top: -24px;
  color:#1E90FF;
}

.container_login form button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid#1E90FF;
  margin-top: 15px;
  background-color: #312D2D;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container_login form button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.container_login form button p {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  transition: all .35s ease-Out;
}

.container_login form button .slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background:#1E90FF;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.container_login form button:hover .slide {
  left: 0;
}

.container_login form button:hover p {
  color: #FFF;
}

@media only screen and (max-width: 600px) {
    .container_login{
        margin: 100px auto;
    }    
}